server:
  port: 8080
spring:
  cloud:
    gateway:
      routes:
        - id: auth
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1
        - id: courses
          uri: http://localhost:8082
          predicates:
            - Path=/api/courses/**
          filters:
            - StripPrefix=1
        - id: payment
          uri: http://localhost:8083
          predicates:
            - Path=/api/payment/**
          filters:
            - StripPrefix=1
        - id: matching
          uri: http://localhost:8084
          predicates:
            - Path=/api/match/**
          filters:
            - StripPrefix=1
